body {
    font-family: Arial, sans-serif;
    background-color: rgb(248,241,231);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}
.all {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
img {
    width: 100%;
    border-radius: 10px;
}
h1 {
    color: #333;
}
h2{
    color: rgb(201, 121, 101);
}
ul {
    padding-left: 20px;
}

ul li::marker {
    color: rgb(201, 121, 101);
    font-weight: bold;
}
.Instructions ol {
    list-style: none;
    counter-reset: list;
}
.Instructions ol li {
    counter-increment: list;
    position: relative;
    padding-left: 25px;
}
.Instructions ol li::before {
    content: counter(list) ".";
    color: rgb(201, 121, 101);
    font-weight: bold;
    position: absolute;
    left: 0;
}
.Preparation_time {
    background-color: rgb(248,235,245);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.ingredients, .Instructions, .nutrition {
    margin-bottom: 20px;
}
ul, ol {
    padding-left: 20px;
}
#Nutrition_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#Nutrition_table th {
    text-align: left;
    font-weight: normal;
    color: rgb(90,56,38);
    padding: 12px 0;
}
#Nutrition_table td {
    font-weight: bold;
    color: rgb(201, 121, 101);
    padding: 12px 0;
}
#Nutrition_table tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
